# 데이터 전처리 환경 조성

In [170]:
import warnings
warnings.filterwarnings(action='ignore')
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import collections
import datetime as dt
import datetime
import time
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

from matplotlib import font_manager, rc
from matplotlib import style
style.use('ggplot')
%matplotlib inline

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

pd.set_option('display.max_rows', 220)
pd.set_option('display.max_columns', 20)

## 데이터 불러오기

In [171]:
ssc=pd.read_csv("./Mcorporation/KDX시각화경진대회_SSC_DATA.csv", encoding='cp949')

In [172]:
spend_list=ssc['소비업종'].unique().tolist()
age_list=ssc['연령대'].unique().tolist()

* spend_plot('가전/가구','20대','남성')

In [173]:
def spend_plot_per_sex(kind, age, sex):
    ssc_case=ssc[(ssc['소비업종']==kind)&(ssc['연령대']==age)&(ssc['성별']==sex)].reset_index()
    date=ssc_case['소비일자']
    number_case=ssc_case['소비건수']
    plot_df=pd.DataFrame(number_case)
    plot_df.index = date.apply(lambda x: datetime.datetime(int(str(x)[:4]),int(str(x)[4:6]),int(str(x)[6:])))

    plt.figure(figsize=(20,10))
    plot_df['소비건수'].plot()
    plt.title(kind+'-'+age+'/'+sex)
    plt.show()

In [174]:
# for i in age_list:
#     spend_plot_per_sex('여행/교통',i,'남성')

In [175]:
ssc_group=ssc.groupby(['소비일자','소비업종','연령대']).sum().reset_index()

* spend_plot('가전/가구', '20대')

In [176]:
def spend_plot(kind, age):
    ssc_case=ssc_group[(ssc_group['소비업종']==kind)&(ssc_group['연령대']==age)].reset_index()
    date=ssc_case['소비일자']
    number_case=ssc_case['소비건수']
    plot_df=pd.DataFrame(number_case)
    plot_df.index = date.apply(lambda x: datetime.datetime(int(str(x)[:4]),int(str(x)[4:6]),int(str(x)[6:])))

    plt.figure(figsize=(20,10))
    plot_df['소비건수'].plot()
    plt.title(kind+'-'+age)
    plt.show()

In [177]:
month_list=ssc['소비일자'].apply(lambda x: int(str(x)[:6])).unique().tolist()

In [178]:
def spend_plot(kind, age):
    global ssc_group
    ssc_group=ssc_group.copy()
    ssc_group['소비일자']=ssc_group['소비일자'].apply(lambda x: int(str(x)[:6]))
    ssc_case=ssc_group[(ssc_group['소비업종']==kind)&(ssc_group['연령대']==age)].reset_index().copy()
    ssc_case=ssc_case.groupby(['소비일자','소비업종','연령대']).sum().reset_index().copy()

    date=ssc_case['소비일자']
    number_case=ssc_case['소비건수']
    plot_df=pd.DataFrame(number_case)
    plot_df.index = date.apply(lambda x: str(x))

    plt.figure(figsize=(20,10))
    plot_df['소비건수'].plot()
    plt.title(kind+'-'+age)
    plt.show()

In [179]:
# for i in spend_list:
#     print(i)
#     spend_plot(i, '20대')

In [180]:
def score_normalize(lst):
    normalized=[]
    scaler = MinMaxScaler()
    normalized=scaler.fit_transform(lst)
    
    return normalized

In [210]:
ssc_group['연령대']

         소비일자    소비업종  연령대     소비건수
0      201901   가전/가구  20대    11466
1      201901   가전/가구  30대    30431
2      201901   가전/가구  40대    39734
3      201901   가전/가구  50대    29826
4      201901   가전/가구  60대    12681
...       ...     ...  ...      ...
38285  202006  할인점/마트  20대   270248
38286  202006  할인점/마트  30대   814766
38287  202006  할인점/마트  40대  1240921
38288  202006  할인점/마트  50대  1054232
38289  202006  할인점/마트  60대   653066

[38290 rows x 4 columns]

In [244]:
total_eff=[]
for j in age_list:
    want_var=[]
    for i in spend_list:
        ssc_group=ssc_group.copy()
        ssc_group['소비일자']=ssc_group['소비일자'].apply(lambda x: int(str(x)[:6]))
        ssc_case=ssc_group[(ssc_group['소비업종']==i)&(ssc_group['연령대']==j)].reset_index().copy()
        ssc_case=ssc_case.groupby(['소비일자','소비업종','연령대']).sum().reset_index().copy()

        date=ssc_case['소비일자']
        number_case=ssc_case['소비건수']
        want_var.append(number_case[4:17].tolist())

    l=[]
    for i in range(13):
        l.append(pd.DataFrame(want_var).loc[i].tolist())

    l2=[]
    for i in range(len(l)):
        l2.append(np.var(score_normalize(pd.DataFrame(l[i])).tolist()))

    eff=[]
    max_l2=0
    min_l2=0
    for i in range(len(l2)):
        if l2[i]==max(l2):
            max_l2=i
        elif l2[i]==min(l2):
            min_l2=i
    eff.append(max_l2)
    eff.append(min_l2)
    total_eff.append(eff)
    
total_eff
va={'20대' : total_eff[0], '30대': total_eff[1], '40대': total_eff[2], '50대': total_eff[3] ,'60대': total_eff[4]}

for k, v in va.items():
    v = list(map(lambda i : spend_list[i], v))
    va[k] = v
va

{'20대': ['가정생활/서비스', '교육/학원'],
 '30대': ['편의점', '가전/가구'],
 '40대': ['가정생활/서비스', '가전/가구'],
 '50대': ['자동차', '가전/가구'],
 '60대': ['스포츠/문화/레저', '교육/학원']}

In [240]:
len(month_list)

18

In [242]:
month_list

[201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005,
 202006]