In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
s=pd.Series([1,3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
# index와 list를 사용해서 DataFrame만들기
dates = pd.date_range('20200101', periods=6)
print(dates)
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2020-01-01  1.276510 -1.598854  1.419442  1.110879
2020-01-02  0.902693  1.120864  0.487974  0.498346
2020-01-03 -1.130425 -1.301442 -0.843783  0.535946
2020-01-04  0.644559 -0.168689  0.584270  0.381585
2020-01-05 -0.925451  0.582169  1.431838 -1.972376
2020-01-06  0.247904  1.095465 -0.976118 -0.139990

In [14]:
# dictionary로 DataFrame만들기 key가 column, index는 자동생성
df2=pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20200101'),
                  'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                  'D':np.array([3]*4, dtype='int32'),
                  'E':pd.Categorical(['test','train','test','train']), #범주형 변수
                  'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-01-01  1.0  3   test  foo
1  1.0 2020-01-01  1.0  3  train  foo
2  1.0 2020-01-01  1.0  3   test  foo
3  1.0 2020-01-01  1.0  3  train  foo

In [16]:
list('Boy')

['B', 'o', 'y']

In [19]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [23]:
df.head(), df.tail()

(                   A         B         C         D
 2020-01-01  1.276510 -1.598854  1.419442  1.110879
 2020-01-02  0.902693  1.120864  0.487974  0.498346
 2020-01-03 -1.130425 -1.301442 -0.843783  0.535946
 2020-01-04  0.644559 -0.168689  0.584270  0.381585
 2020-01-05 -0.925451  0.582169  1.431838 -1.972376,
                    A         B         C         D
 2020-01-02  0.902693  1.120864  0.487974  0.498346
 2020-01-03 -1.130425 -1.301442 -0.843783  0.535946
 2020-01-04  0.644559 -0.168689  0.584270  0.381585
 2020-01-05 -0.925451  0.582169  1.431838 -1.972376
 2020-01-06  0.247904  1.095465 -0.976118 -0.139990)